input[type='text'],input[type='email'],input[type='number'], select,textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.container{
    width: 50%!important;
}
.check-btn{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}
.mt-6{
    margin-top: 5rem!important;
}
.price{
    float: right;
    font-size: 24px;
    font-weight: bold;
}
.btn-continue{
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #9AC1F0;
    background-color: #9AC1F0;
    color: white;
    margin-left: 50px;
    float: right;
    font-size: 20px;
}
.btn-continue:hover{
    color: #f6fafd;
}
.add-color{
    background-color: #9AC1F0!important;
    color: white!important;
}

