body {
    background: #f5f7ff ;
}
  
.container {
    max-width: 900px;
    margin: 0 auto;
}
label {
    width: 100%;
}
img{
    width:50%;
    height: 50%;
}
.card-input-element {
    display: none;
}
.weight-luggage{
    font-size: 24px;
    font-weight: bold;
}
.card-input {
    margin: 10px;
    padding: 0px;
}
  
.card-input:hover {
    cursor: pointer;
}
  
.card-input-element:checked + .card-input {
    box-shadow: 0 0 1px 1px #2ecc71;
}
form{
    display: flex;
}
.price{
    float: right;
    font-size: 24px;
    font-weight: bold;
}
.price-luggage{
    color: #3069af;
    font-weight: bold;
}
.btn-continue{
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #9AC1F0;
    background-color: #9AC1F0;
    color: white;
    margin-left: 50px;
    float: right;
    font-size: 20px;
}
.btn-continue:hover{
    color: #f6fafd;
}